@font-face {
  font-family: 'grotesk';
  font-display: swap;
  font-weight: 400;
  src: url('../assets/fonts/groteskRegular.woff2') format('woff2');
}
@font-face {
  font-family: 'grotesk';
  font-display: swap;
  font-weight: 500;
  src: url('../assets/fonts/groteskMedium.woff2') format('woff2');
}
@font-face {
  font-family: 'grotesk';
  font-display: swap;
  font-weight: 600;
  src: url('../assets/fonts/groteskSemibold.woff2') format('woff2');
}
@font-face {
  font-family: 'grotesk';
  font-display: swap;
  font-weight: 800;
  src: url('../assets/fonts/groteskBold.woff2') format('woff2');
}
